:root {
    --font-family-basic: 'Great Vibes', sans-serif;
    --font-size-basic: 40px;
    --font-family-light: "Inter Tight", sans-serif;



    --color-dark: rgba(14, 13, 13, 0.89);
    --color-light: white;


    --color-blue-light: #eafaff;
    --color-blue-medium: #dcf2ff;
    --color-blue-dark: #b5d4ee;

    --border-radius: 20px;
    --border-radius-small: 3px;

    --skew: 45deg;





}